<div class="d-flex">
  <div id="sidebar-container" class="bg-primary">
    <a href="/">
      <div class="logo">
        <img src="https://static.wixstatic.com/media/eb8851_33aa80076f01490fa6e6085aeeb476f9~mv2.png/v1/fill/w_326,h_164,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Ladonware.png" 
        width="150px"
        alt="Logo Ladonware">
      </div>
    </a> 
  </div>

  <div class="w-100 bg-light">
    <div class="title bg-white">
      <h3 class="fw-bold">Prueba Técnica Full-Stack Developers</h3>
    </div>    
    <router-outlet></router-outlet>
  </div>
</div>